/* client/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1E1E2E;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1E1E2E;
}

::-webkit-scrollbar-thumb {
  background: #6C63FF;
  border-radius: 5px;
}